section#menu.page-section.mb-0
    .container
        // About Section Heading
        h2.page-section-heading.text-center.text-uppercase Menu
        // Icon Divider
        .divider-custom
            .divider-custom-line
            .divider-custom-icon
                i.fas.fa-circle-info
            .divider-custom-line
        // About Section Content
        .row
            .col-lg-6.ms-auto
                h4 Sandwich - $13
                p.lead
                    | Served on a brioche bun with slaw, bread and butter pickles and comeback sauce.
                p Choose your heat level: Easy, Mild, Medium, Hot, X-Hot, Mythic
            .col-lg-6.me-auto
                h4 Nuggs - $12
                p.lead
                    | Comes with a side comeback sauce for dipping.
                p Choose your heat level: Easy, Mild, Medium, Hot, X-Hot, Mythic
            .col-lg-6.me-auto
                h4 Tots - $3.50
                p.lead
                    | Add seasoning for $1 (Mild, Medium, Hot, X-Hot, Mythic)
            .col-lg-6.me-auto
                h4 Side of comeback - $1
            .col-lg-6.me-auto
                h4 Water bottle - $1
            
