doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Sweet Chiefs hot chicken popup located in the puget sound.')
        meta(name='author', content='DB 94')

        title Sweet Chiefs - Hot Chicken Menu

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
        meta(property="og:title" content="Sweet Chiefs - Hot Chicken Menu")
        meta(property="og:image" content="https://www.sweetchiefs.com/assets/img/mauve_logo_white_text.png")

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='../css/styles.css', rel='stylesheet')

    body#page-top
        nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
            .container
                a.navbar-brand(href='#page-top') Sweet Chiefs

        section#menu.page-section.mb-0
            .container
                // About Section Heading
                h2.page-section-heading.text-center.text-uppercase Menu
                // Icon Divider
                .divider-custom
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-circle-info
                    .divider-custom-line
                // About Section Content
                .row
                    .col-lg-6.ms-auto
                        h4 Sanwich - $13
                        p.lead
                            | Served on a brioche bun with slaw, bread and butter pickles and comeback sauce.
                        p Choose your heat level: Easy, Mild, Medium, Hot, X-Hot, Mythic
                    .col-lg-6.me-auto
                        h4 Nuggets - $12
                        p.lead
                            | Comes with a side comeback sauce for dipping.
                        p Choose your heat level: Easy, Mild, Medium, Hot, X-Hot, Mythic
                    .col-lg-6.me-auto
                        h4 Tots - $3.50
                        p.lead
                            | Add seasoning for $1 (Mild, Medium, Hot, X-Hot, Mythic)
                    .col-lg-6.me-auto
                        h4 Side of comeback - $1
                    .col-lg-6.me-auto
                        h4 Water bottle - $1
                    
